header {
    text-align: center;
    background-color: #9b9d9f;
    margin: 0%;
    padding-top: 1%;
    padding-bottom: 0.5%;
}

body.home {
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    margin: 0%;
    opacity: 1;
    font-family: 'Courier New', Courier, monospace;
    background-color: #353a3e;
}

div.midtext {
    position: absolute;
    top: 18%;
    left: 30%;
    right: 40%;
}

footer {
    text-align: center;
    color: white;
}

div.loginform {
    position: absolute;
    top: 22%;
    left: 40%;
    right: 40%;
    color: #ffffff;
    background-color: #353a3e;
    padding: 16px;
}

input.content {
    height: 10%
}

input.blogpostbox {
    height: 100px;
}

div.blogPostForm {
    position: absolute;
    top: 22%;
    left: 40%;
    right: 40%;
    color: #ffffff;
    background-color: #353a3e;
    padding: 16px;
}

div.infoImage {
    padding: 10px;
    position: absolute;
    top: 18%;
    left: 20%;
    right: 40%;
    background-color: #353a3e98;
}

td {
    height: 700px;
    width: 500px;
    padding: 0px;
}

#aboutMeTitle {
    text-align: center;
    position: absolute;
    top: 18%;
    left: 40%;
    right: 40%;
    color: white;
    font-size: 2em;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#aboutMeText {
    text-align: center;
    position: absolute;
    top: 22%;
    left: 40%;
    right: 40%;
    color: white;
    font-style: italic;
    background-color: #353a3e5d;
}

#aboutMeText2 {
    text-align: left;
    position: absolute;
    top: 30%;
    left: 40%;
    right: 40%;
    color: white;
    font-style: bold;
    background-color: #353a3ea6;
    padding: 12px;
}

#experienceTitle {
    text-align: center;
    position: absolute;
    top: 18%;
    left: 40%;
    right: 40%;
    color: white;
    font-size: 2em;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#experienceText {
    text-align: center;
    position: absolute;
    top: 22%;
    left: 40%;
    right: 40%;
    color: white;
    font-style: italic;
    background-color: #353a3e5d;
}

#experienceText2 {
    text-align: left;
    position: absolute;
    top: 25%;
    left: 40%;
    right: 40%;
    color: white;
    font-style: bold;
    background-color: #353a3ea6;
    padding: 12px;
}

#skillsTitle {
    text-align: center;
    position: absolute;
    top: 18%;
    left: 40%;
    right: 40%;
    color: white;
    font-size: 2em;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#skillsText {
    text-align: center;
    position: absolute;
    top: 22%;
    left: 40%;
    right: 40%;
    color: white;
    font-style: italic;
    background-color: #353a3e5d;
}

#skillsText2 {
    text-align: left;
    position: absolute;
    top: 25%;
    left: 40%;
    right: 40%;
    color: white;
    font-style: bold;
    /* background-color: #353a3ea6; */
    padding: 12px;
}

#skillsList {
    text-align: left;
    position: absolute;
    top: 18%;
    left: 60%;
    right: 0%;
    color: white;
    background-color: #353a3e98;
    padding-top: 20px;
    padding-bottom: 11px;
}

#educationTitle {
    text-align: center;
    position: absolute;
    top: 18%;
    left: 40%;
    right: 40%;
    color: white;
    font-size: 2em;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#educationText {
    text-align: center;
    position: absolute;
    top: 22%;
    left: 40%;
    right: 40%;
    color: white;
    font-style: italic;
    background-color: #353a3e5d;
}

#educationText2 {
    text-align: left;
    position: absolute;
    top: 30%;
    left: 40%;
    right: 40%;
    color: white;
    font-style: bold;
    background-color: #353a3ea6;
    padding: 12px;
}

#educationList {
    text-align: left;
    position: absolute;
    top: 27%;
    left: 40%;
    right: 40%;
    color: white;
    background-color: #353a3e98;
    padding-top: 20px;
    padding-bottom: 11px;
}

#bg {
    opacity: 0.55;
}

#container {
    position: relative;
}

body {
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    margin: 0%;
    opacity: 1;
    background-size: 99.99%;
    font-family: 'Courier New', Courier, monospace;
    background-color: #353a3e;
}

aside {
    float: right;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

h1.blocktexthome {
    font-size: 65px;
    color: #ffffff;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 18%;
    background-color: #353a3e;
    opacity: 0.95;
    position: absolute;
    padding: 5px;
    border-radius: 8px;
}

h1.blocktext {
    font-size: 65px;
    color: #ffffff;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-left: 75%;
    margin-right: 5%;
    margin-top: 5%;
    background-color: #353a3e;
    opacity: 0.95;
}

h3.loginButton {
    text-align: center;
    margin-left: 54.5%;
    margin-top: 59%;
    margin-right: 50%;
    position: absolute;
    background-color: #9b9d9f;
    color: #ffffff;
    border-radius: 12px;
    border: 2px solid #525252;
    height: 32px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/* article {
    opacity: 1;
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 20%;
    padding-left: 10px;
    padding-top: 10px;
    outline: #353a3e;
    outline-width: 10px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    box-shadow: black;
    border: #353a3e;
    border-radius: 10px;
    size: 25%;
} */


/* NAVBAR STYLES */

a.class1 {
    color: #ffffff;
    padding: 10px;
}

a.class1:link {
    /* Applies to all unvisited links */
    text-decoration: none;
    color: #9b9d9f;
}

a.class1:hover {
    /* Applies to links under the pointer */
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

a.class1:active {
    /* Applies to activated links */
    text-decoration: underline;
    font-weight: bold;
    color: #ffffff;
}

nav {
    background-color: #353a3e;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    margin-right: 5px;
    opacity: 1;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 5px;
}